img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  outline: none;
}
input {
  border: none;
  outline: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #2a6bd3;
  color: #000;
  font-size: 18px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.left-column {
  padding: 25px 20px;
  margin-right: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.your-BMR {
  display: block;
  width: 92%;
  margin: 0 auto;
  background-color: #28a85b;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 70px;
  font-size: 22px;
  text-align: center;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.BMR-value {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.BMR-value span {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}
.calc-current-BMR {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #729ee5;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid black;
  margin-bottom: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.BMR-calculator-body {
  width: 100%;
  padding: 15px 15px;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.BMR-calculator-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.BMR-calculator-form fieldset {
  margin-bottom: 20px;
}
.BMR-calculator-form input[type='radio'] {
  display: none;
}
.BMR-calculator-form label {
  margin-bottom: 5px;
}
label.radio {
  padding-left: 25px;
  position: relative;
}
label.radio:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 19px;
  height: 19px;
  border: solid 1px black;
}
input[type="radio"]:checked + label::after {
  content: "✓";
  position: absolute;
  top: -12px;
  left: 2px;
  font-size: 28px;
  color: #d22856;
}
.bio {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.bio label::after {
  content: "";
  display: table;
  clear: both;
}
.bio input {
  float: left;
}
.bio span {
  float: left;
  width: 100px;
}
.activity-level {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.calcBMRNow {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 10px 15px;
  border: solid 2px black;
  border-radius: 20px;
  background-color: #d22856;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.BMR-result {
  font-size: 20px;
  font-weight: bold;
}
input[type="submit"]:hover {
  color: #fff;
}
button:hover {
  color: #fff;
}
input[type="submit"]:active {
  -webkit-box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.5);
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}
button:active {
  -webkit-box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.5);
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}
.right-column {
  width: 800px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.current-day {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 25px;
}
.current-day-title {
  font-size: 26px;
  line-height: 40px;
}
.add-items-to-day {
  padding: 10px;
  border: solid 1px #fff;
  border-bottom: none;
  text-align: left;
}
.add-items-to-day::after {
  content: "";
  display: table;
  clear: both;
}
.add-items-to-day .left {
  width: 50%;
  float: left;
}
.add-items-to-day .right {
  width: 50%;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.add-items-to-day label {
  width: 120px;
  float: left;
  clear: left;
  margin-bottom: 15px;
}
.add-items-to-day input {
  float: left;
}
button.add-item {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #28a85b;
}
input.submit-day {
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #28a85b;
}
.day-diagram-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  border: solid 1px #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.day-diagram-container .left {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  background-image: url(../img/white_paper_texture.jpg);
  border: solid 2px black;
}
.day-diagram-container .right {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.foodlist-title {
  padding-left: 20px;
}
.day-diagram {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  margin-top: 20px;
  margin-left: 20px;
  -ms-flex-preferred-size: 50px;
  flex-basis: 50px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;
}
.day-diagram span {
  position: absolute;
  left: 10%;
}
.BMR-diagram {
  background-color: #729ee5;
  width: 350px;
}
.foodlist {
  text-align: left;
}
.current-ccal {
  display: inline-block;
  padding-right: 10px;
  background-color: #f2f2f2;
  height: 100%;
  vertical-align: middle;
  background-color: #28a85b;
}
.current-ccal::before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.finished-days {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  border: solid 2px black;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.finished-day {
  -ms-flex-preferred-size: 29%;
  flex-basis: 29%;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border: solid 1px black;
}
.finished-day:nth-child(3n) {
  margin-right: 0;
}
input.valid-class {
  border: 2px solid green;
  background: #fff url(../img/ok.png) no-repeat 97% center;
}
input.invalid-class {
  border: 2px solid red;
  background: #fff url(../img/cancel.png) no-repeat 97% center;
}
